version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: daghbas_share
      POSTGRES_USER: daghbas
      POSTGRES_PASSWORD: daghbas
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
